@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  
  /* GovGuide Brand Colors */
  --gov-blue: #1e3a8a; /* Deep Blue */
  --gov-red: #dc2626; /* Flag Red */
  --gov-yellow: #facc15; /* Sun Yellow */
  --gov-green: #15803d; /* PhilHealth Green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-inter);
  
  --color-gov-blue: var(--gov-blue);
  --color-gov-red: var(--gov-red);
  --color-gov-yellow: var(--gov-yellow);
  --color-gov-green: var(--gov-green);
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
